build --cxxopt=--std=c++17
build --verbose_failures
build --compiler=compiler
build --build_python_zip

build --host_force_python=PY2
test --host_force_python=PY2
run --host_force_python=PY2

# https://github.com/stackb/rules_proto/issues/114
build --incompatible_depset_is_not_iterable=false
run --incompatible_use_python_toolchains=false

# NEEDED FOR OPENCV
build -c opt

# Raspberry pi config
build:armv7hf --crosstool_top=@murtis_bazel_compilers//compilers/arm_compiler:toolchain
build:armv7hf --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
build:armv7hf --cpu=armeabi-v7a --compiler=gcc
build:armv7hf --spawn_strategy=standalone

build:aarch64 --crosstool_top=@murtis_bazel_compilers//compilers/arm_compiler:toolchain
build:aarch64 --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
build:aarch64 --cpu=aarch64-linux-gnu --compiler=gcc
build:aarch64 --spawn_strategy=standalone

build:amd64 --cpu=k8
